<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do professor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../_public/css/homeUsuario.css">
    <link rel="stylesheet" href="../_public/css/homeDocente.css">
</head>
<body>

<div id="menu-bars" class="fas fa-bars"></div>
    
<!-- header section começo  -->
<header>

    <a href="#" class="logo"> <span>s</span>ap</a>
        <h3 id="bem_vindo"> bem-vindo, <span id="perfil"><br><%= professor.nome %></span> </h3>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#alterar">Alterar</a>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
      <button class="btn" type="submit">Log Out</button>
    </form>
</header>
<!-- header section fim -->

<!-- home section começo  -->
<section class="home" id="home">
    <div class="content">
        <p class="info">  </p><br>
        <div class="form" id="perfil"> 
            <div class="row">
                <form>
                    <label class="lblprof">Nome completo</label><br>
                    <label class="lbl_dado"><%=professor.nome %></label><br><br>

                    <label class="lblprof">cpf</label><br>
                    <label class="lbl_dado"><%=professor.cpf %></label><br><br>
                    
                    <label class="lblprof">sexo</label><br>
                    <label class="lbl_dado"><%=professor.sexo %></label><br><br>

                    <label class="lblprof">data de nascimento</label><br>
                    <label class="lbl_dado"><%=professor.data_nascimento %></label><br><br>

                    <label class="lblprof">endereço</label><br>
                    <label class="lbl_dado"><%=professor.endereco %></label><br><br>

                    <label class="lblprof">número</label><br>
                    <label class="lbl_dado"><%=professor.numero %></label><br><br>

                    <label class="lblprof">complemento</label><br>
                    <label class="lbl_dado"><%=professor.complemento %></label><br><br>


                    <label class="lblprof">bairro</label><br>
                    <label class="lbl_dado"><%=professor.bairro %></label><br><br>

                    <label class="lblprof">cidade</label><br>
                    <label class="lbl_dado"><%=professor.cidade %></label><br><br>

                    <label class="lblprof">estado</label><br>
                    <label class="lbl_dado"><%=professor.estado %></label><br><br>

                    <label class="lblprof">cep</label><br>
                    <label class="lbl_dado"><%=professor.cep %></label><br><br>

                </form>
            </div>
        </div>
    </div>

    <div class="image">
        <img src="../_public/img/logopretofateczl20anos.png" alt="">
    </div>
    
    
</section>
<!-- home section fim -->
    <!-- perfil usuario section inicio  -->
<section class="form" id="alterar">

    <h1 class="heading">Alterar<span> contato </span> </h1>
    
    <div class="row">
        <form action="/cadastro/professor/edit/salvar" method="post">
            <input type="hidden" name="registro" placeholder="id" class="box" value= <%=professor.registro %>>
            <label class="lblprof">telefone residencial</label>
            <input type="text" name="tel_residencial" class="box" value= <%=professor.tel_residencial %>>

            <label class="lblprof">celualr</label>
            <input type="text" name="celular" class="box" value= <%=professor.celular %>>

            <label class="lblprof">whatsapp (sim/nao)</label>
            <input type="text" name="whats" class="box" value= <%= professor.whatsapp %>>

            <input type="submit" class="btn" value="alterar">
        </form>
    </div>
  
  </section>
  <!-- perfil usuario section fim -->


<!-- footer section  -->
<footer class="footer"> created by <span> grupo 3</span> | all rights reserved! </footer>



<!-- custom js file link  -->
<script src="../_public/js/perfilUsuario.js"></script>
</body>
</html>